.wy-nav-content {
  max-width: 100% !important;
}

table tr td > p {
line-height: 1.3rem !important;
}

table tr td p:not(:first-child) {
padding-top: 10px !important;
}

code {
white-space: nowrap !important;
}

pre {
white-space: pre-wrap !important;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}

#golden-kestrel > div > div.embed-code-container > div > pre {
  color: #e74c3c !important;
  background: #fff !important;
  border: 1px solid #e1e4e5 !important;
  font-size: 75% !important;
  padding: 0 5px;
  overflow-x: auto !important;
  display: inline-block !important;
}

#golden-kestrel > div.badge-builder-container {
  display: grid;
  grid-template-columns: 550px 0 auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "embed-form embed-form embed-example"
    "embed-code-container embed-code-container embed-code-container";
}

.embed-form { grid-area: embed-form; }

.embed-example { grid-area: embed-example; }

.embed-code-container { grid-area: embed-code-container; }

#golden-kestrel > div.badge-builder-container > div.embed-form {
  margin-bottom: 15px;
}

#golden-kestrel > div > div.embed-form > form > fieldset > label {
  text-align: left;
  float: left;
  clear: both;
  width: 200px;
  font-weight: bold;
  padding-top: 5px;
}

#golden-kestrel > div > div.embed-form > form > fieldset > select {
  margin-left: 150px;
  margin-bottom: 10px;
  display: block;
  width: 250px;
  border-radius: 3px;
}

#golden-kestrel > div > div.embed-form > form > fieldset > input {
  margin-left: 150px;
  margin-bottom: 10px;
  display: block;
  width: 250px;
  border-radius: 3px;
}

#golden-kestrel > div > div.embed-form > form > fieldset > input#kestrel-no-mentions, #golden-kestrel > div > div.embed-form > form > fieldset > input#kestrel-condensed {
  margin-left: 200px;
  width: auto;
  display: inline-block;
}

#golden-kestrel > div > div.embed-form > form > fieldset > label[for=kestrel-no-mentions], #golden-kestrel > div > div.embed-form > form > fieldset > label[for=kestrel-condensed] {
  float: right;
  position: relative;
  left: -130px;
  font-weight: normal;
  padding-top: 0;
}